<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MULTER </title>
</head>
<body>
    <center>
        <pre>
            <form action="/post" method="post" enctype="multipart/form-data">
                <label><b>First Name: </b></label>
                <input type="text" name="fname" placeholder="input first name:">

                <label><b>First Last</b></label>
                <input type="text" name="lname" placeholder="input last name:">
                

                <label for="image">Upload Image</label>
                <input type="file" name="image" >

                <button type="submit" >Save</button>
            </form>
        </pre>
    </center>
</body>
</html>